{% extends 'nicetweetsapp/base.html' %}


{% block content %}
<script>
    function showLoadingBar() {
        // shows the loading bar once the form is submitted
        document.getElementById('loading-text').innerHTML = 'loading tweets...';
        document.getElementById("loader").classList.add("loader");
        document.getElementById("loaderBar").classList.add("loaderBar");
    }

</script>

<form id="searchform" onSubmit="showLoadingBar()" method="POST" action="{% url "topicsentiment" %}">
    {% csrf_token %}
    {{ form }}
    <button type="submit" value="Submit"> View Sentiment Graph</button>
</form>

<form id="searchform" onSubmit="showLoadingBar()" method="POST" action="{% url "nicetimeline" %}">
    {% csrf_token %}
    {{ form }}
    <button type="submit" value="Submit"> View live timeline</button>
</form>

<div id="loading-box">
    <div id="loader">
        <div id="loaderBar"></div>
    </div>
    <h2 id="loading-text"></h2>
</div>

{% endblock %}