{% extends 'nicetweetsapp/base.html' %}

{% block content %}

<h1>Sentiment for: {{ topic }}</h1>

<div id="sentiment-counter">
    <h2 id="sentiment-average">?</h2>
</dib>


<canvas id="myChart" width="400" height="400"></canvas>
<script>

    // update the sentiment average number and styling
    function updateSentimentTicker(sentiment_average) {
        ticker = document.getElementById("sentiment-average")
        ticker.innerHTML = sentiment_average
        if (sentiment_average > 0) {
            ticker.style.color = "green"
        } else if (sentiment_average < 0) {
            ticker.style.color = "red"
        } else {
            ticker.style.color = "black"
        }

    }


    var timecreated = {{timecreated|safe}};
    var sentiment = {{sentiment|safe}};
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: timecreated,
            datasets: [{
                label: 'Individual "{{topic}}" Tweet Sentiment',
                data: sentiment,
                backgroundColor: 'rgb(93, 173, 226)',
                fill: false,
                borderColor: 'rgb(93, 173, 226, 0.2)',
                borderWidth: 3,
                pointRadius: 1,
                order: 2,
            },
            {
                label: 'Average Sentiment for {{topic}}',
                data: [],
                backgroundColor: 'rgb(255, 87, 51)',
                borderColor: 'rgb(255, 87, 51)',
                borderWidth: 3,
                tension: 0.5,
                pointRadius: 0,
                order: 1,
            }]
        },
        options: {
            scales: {
                y: {
                    min: -1,
                    max: 1
                }
            }
        }
    });
</script>

<script>
    const tweets_api_url = "{% url 'api' %}{{ topic }}?format=json";
    const tweets_api_ma_url = "{% url 'api' %}{{ topic }}?format=json&ma=true";

    // logic to get the new data 

    var getData = function() {
        $.ajax({
            url: tweets_api_url,
            success: function(data) {

                response = data;
                var timearray = [];
                var sentimentarray = [];
                var moving_average = response.rolling_average;

                $.each(response.data, function(index, value) {
                    timearray.push(value.tweet_created_at);
                    sentimentarray.push(value.tweet_sentiment);
                });
                
                // update ticker
                const average = arr => arr.reduce((a,b) => a + b, 0) / arr.length;
                const median = arr => {
                    const mid = Math.floor(arr.length / 2),
                      nums = [...arr].sort((a, b) => a - b);
                    return arr.length % 2 !== 0 ? nums[mid] : (nums[mid - 1] + nums[mid]) / 2;
                  };
                ticker_number = average(sentimentarray);
                updateSentimentTicker(ticker_number.toFixed(5));
                
                // push new data to chart
                myChart.data.labels = timearray;
                myChart.data.datasets[0].data = sentimentarray;
                myChart.data.datasets[1].data = moving_average;
                myChart.update();
            }
        })
    }

    setInterval(getData, 1000);
    
</script>


{% endblock %}