{% extends 'nicetweetsapp/base.html' %}

{% block content %}

<h1>Sentiment for: {{ topic }}</h1>
{% if graph %}
{{ graph|safe }}
{% else %}
<p>No graph was provided.</p>
{% endif %}

<canvas id="myChart" width="400" height="400"></canvas>
<script>
    var timecreated = {{timecreated|safe}};
    var sentiment = {{sentiment|safe}};
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: timecreated,
            datasets: [{
                label: 'Sentiment for {{topic}}',
                data: sentiment,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: '#1abc9c',
                borderWidth: 1
            },
            {
                label: 'Average Sentiment for {{topic}}',
                data: [],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: '#e74c3c',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>

<script>
    const tweets_api_url = "{% url 'api' %}{{ topic }}?format=json";
    const tweets_api_ma_url = "{% url 'api' %}{{ topic }}?format=json&ma=true";

    // logic to get the new data 

    var getData = function() {
        $.ajax({
            url: tweets_api_url,
            success: function(data) {
                console.log(data);
                response = data;
                var timearray = [];
                var sentimentarray = [];
                var moving_average = response.data.rolling_average;
                console.log("moving average: " + moving_average);
                $.each(response.data, function(index, value) {
                    timearray.push(value.tweet_created_at);
                    sentimentarray.push(value.tweet_sentiment);
                    //moving_average.push(value.rolling_average);
                });

                console.log(timearray);
                console.log(sentimentarray);
                myChart.data.labels = timearray;
                myChart.data.datasets[0].data = sentimentarray;
                myChart.data.datasets[1].data = moving_average;
                myChart.update();
            }
        })
    }

    setInterval(getData, 3000);
    
</script>


{% endblock %}